* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}
.nav-bar {
  height: 70px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 18px 50px -10px;
  display: flex;
}
.nav-bar > img {
  margin: auto 40px;
  height: 32px;
}
.hero-sec {
  display: flex;
  flex-direction: column;
  margin: 0px 40px;
}
.hero-img {
  width: 60%;
  margin: 40px auto;
}
.hero-title {
  font-weight: 600;
}
.card {
  position: relative;
  width: 200px;
  margin: 32px;
  font-size: 13px;
}
.card-img {
  width: 200px;
  height: 264px;
  border-radius: 10px;
}
.card-info > * {
  margin: 8px 0px;
}
.card-info-lite {
  color: #918e9b;
}
.cards-flex {
  display: flex;
  overflow: auto;
}
.card-open-spots {
  background-color: white;
  position: absolute;
  font-weight: 300;
  padding: 4px 8px;
  top: 10px;
  left: 12px;
  border-radius: 4px;
}

@media only screen and (max-width: 500px) {
  .hero-img {
    width: 100%;
    margin: 40px auto;
  }
}
